<a name="contact"></a>
<div class="header-container">
    <hr class="divider" style="margin-right: 25px;margin-left:30px"/>
    <div class="section-title">Contact Me</div>
    <hr class="divider" style="margin-left: 25px;margin-right:30px"/>
</div>

<form class="form-container" action = "https://formsubmit.co/fellowship@mlh.io" method="POST">

    <label> Name </label>
    <input type="text" id="name" name="name" placeholder="Your name...">

    <label> Email </label>
    <input type="text" id="email" name="email" placeholder="Your email...">

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Write something..." style="height:170px"></textarea>

    <button type="submit" value="Submit" class="submit-button">Submit</button>

</form>
