.nav-bar {
    margin: auto;
    display: flex; 
    width: 100%; 
    background-color: indigo;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-right: 46px;
    padding-left: 30px; 
    position: sticky;
    top: 0; 
    justify-content: space-between;
    z-index: 900;
}     

.darkModeContainer {
  color: white;
  display: flex; 
  align-items: center; 

  .blue-rectangle {
    width: 60px;
    height: 35px;
    display: inline-block;
    border-radius: 30px;
    background-color: #2f7cff;
    cursor: pointer;

    .white-circle {
      margin-top: 2px; 
      width: 30px;
      height: 30px;
      display: inline-block;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
    }
  }

  .dark-text {
    margin-left: 10px;
  }
}

.toggleRight {
  margin-left: 30px;
  transition: all 0.4s;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0; 
    padding: 0; 
}
   
li {
    float: left;
}
   
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
   
li a:hover:not(.active) {
    background-color: #0090ff;
    color: white; 
    text-decoration: none; 
}
